# Инструменты разработки и форматирования
black
pylint
mypy
isort
flake8

# Инструменты тестирования
pytest
coverage
pytest-cov

# Вспомогательные библиотеки для разработки
astroid
charset-normalizer
click
dill
et_xmlfile
idna
iniconfig
mccabe
mypy-extensions
packaging
pathspec
pep8
platformdirs
pluggy
pyaes
pyasn1
pycparser
python-dateutil
python-dotenv
pytz
PyYAML
qasync
rsa
six
soupsieve
tomlkit
typing_extensions
tzdata
urllib3